* {
  background-image: url('./images/background.png');
  box-sizing: border-box;
  color: white;
  font-family: Orbitron , serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  padding: 10px;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
  margin: 10px;
}

h3 {
  font-size: 1.3rem;
  padding: 10px 0 20px;
}

p {
  align-self: center;
  font-size: 1.2rem;
  padding: 8px;
}

.solar-system-container, .missions-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

.planets-container {
  display: flex;
}

.planet-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 150px;
  min-width: 150px;
}

img {
  transition: 0.7s;
  width: 100px;
}

img:hover {
  cursor: pointer;
  transition: 0.3s;
  width: 130px;
}

.card-container {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
}

.mission-card {
  align-items: center;
  border: 1px solid white;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 10px;
  width: 400px;
}
